html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  /*position: ;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 5.0vmax;
}
h2 {
  font-size: 3.5vmax;
}

h3{
  font-size: 3.0vmax;
}

p {
  font-size: 2.0vmax;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
